* {
    color: white;
    margin: 0px;
    text-align: left;
    font-size: 18px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 0%;
}
.social-icon {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
    overflow: auto; /* Changed from hidden to auto */
    margin: 0;
    padding-top: 50px; /* Added to push content below the fixed navbar */
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

h1 {
    height: 220px;
    text-align: center;
    font-size: 240%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 30px 5px;
    position: relative;
    background:none;
    max-width: 300px;
    
    
}
h2 {
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    padding: 10px 25px ;
    position: relative;
    background:none;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

a, h3, p, pre, li {
    padding: 10px 25px ;
    background:none;
    line-height: 24px;
}
.column, .home, footer {
    background-color: transparent;
}

a {
    margin: 0 0 0 0px;
    padding: 0;
    text-decoration: none;
    background:none;
    color: #fbe;
    text-indent: 0;
    z-index: 1;
    cursor: pointer;
}

a:hover {
    color: magenta;
}

h1 a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none; /* Remove underline from links */
}

h1 a:hover {
    color: rgb(180,255,255); /* Keep the color same on hover, or choose a different color if you prefer */
}


.home {
    position: fixed;
    
    left: 30px;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays on top */
}

.home, .home a {
    color:magenta;
    height: 30px;
    font-size: 30px;
    padding: 10px 15px;
    margin-top: 5px;
   
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the columns */
    padding: 0 20px; /* Added padding to the sides */
}

.column {
    flex: 1;
    max-width: 400px; /* Adjust as needed */
    max-height: 700px;
    margin: 10px; /* Added margin for spacing between columns */
    box-sizing: border-box;
}

/* Add a media query for small devices */
@media (max-width: 768px) {
    .column {
        flex: 1 0 50%; /* You can adjust this to make the columns stack differently on smaller screens */
    }
}

div.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 220px; /* Adjust as per your requirement */
}


.column-wide {
    float: left;
    width: 70%;
    max-width: 900px;

    padding-left: 10px;
}

img {
    padding: 0px 0px;
    background: none;
    max-width: 800px;
    display: block; /* Makes the image a block-level element */
    margin-left: 20 ; /* Centers the image horizontally */
}

.column-wide img {
    padding: 0px 0px;
    background: none;
    max-width: 800px;
    display: block; /* Makes the image a block-level element */
    margin-left: 20 ; /* Centers the image horizontally */
}


.projects {
    height:80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #666; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(255, 252, 204); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(245, 255, 153); 
}
#voronoi-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* So that it stays behind the content */
    background-color: transparent;
    pointer-events: none; /* So that you can click 'through' the holes */
    overflow: hidden; /* Hide the parts of the circles that are outside the container */
}



#image-container {
    width: 100%;
  }
  
.image-preview {
    margin-left: 20px;
    width: 80%; /* Width of the previews */
    max-width: 400px;
    height: 10px; /* Height of the slice */
    overflow: hidden; /* Hide the parts of the image that are outside the container */
    transition: all 0.6s ease; /* Transition for size change */
    background-color: transparent;
    margin-bottom: 10px;
    position: relative;
}

.image-preview:hover {
    height: auto;
}

.image-preview img {
    width: 100%; /* Stretch image to fill the container */
    height: auto; /* Maintain the original aspect ratio */
    transition: all 0.6s ease; /* Transition for size change */
    display: block;
    opacity: 0.7;
    position: absolute;
    padding: -10px;

 
}

.image-preview img:hover{
    width: 100%;
    height: auto;
    opacity: 0.9;
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
}

.gallery {
    display:grid;
    flex-wrap: wrap;
    justify-content: left;
    overflow: auto;
    max-height: 900px;
  }

  .gallery img {
    width: 100%;
    max-width: 360px;
    height: auto;
    margin: 10px;
  }

  .linkedin-tooltip {
    display: none;
    position: absolute;
    bottom: 50%;
    background-color: aqua;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5px;
}

.name-link:hover .linkedin-tooltip {
    display: inline-block;
}

.slideshow-container {
    position: relative;
    padding:0 20px;
}

.slideshow-img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
}

.slideshow-img.show {
    opacity: 1;
}

.crop-container {
    width: 800px;  /* Width of the displayed portion of the image */
    overflow: hidden; /* Hide the cropped parts */
    margin-left: 20px;
}

.crop-container img {
    position: relative;
    left: -300px; /* Shift the image to the left to crop it */
}
