* {
    color: white;
    margin: 0px;
    overflow-y: auto ;
    overflow-x: hidden;
    text-align: left;
    font-size: 18px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 0%;
}
.social-icon {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;

}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

h1 {
    height: 220px;
    text-align: center;
    font-size: 230%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 30px 5px;
    position: relative;
    background:none;
    max-width: 300px;
}

a, h2, p, pre {
    padding: 10px 25px ;
    background:none;
    line-height: 24px;
}
.column, .home, footer {
    background-color: transparent;
}

a {
    margin: 0 0 0 0px;
    padding: 0;
    text-decoration: none;
    background:none;
    color: #fbe;
    text-indent: 0;
    z-index: 1;
}

a:hover {
    color: magenta;
}
.home, .home a {
    color:magenta;
    height: 80px;
    font-size: 30px;
    padding: 10px 15px;
}

.column {
    float: left;
    width: 22.5%;
    overflow: hidden;
    padding-left: 10px;
}
/* width */
::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #666; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #cff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #9ff; 
}
#voronoi-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* So that it stays behind the content */
    background-color: transparent;
}

#image-container {
    width: 100%;
  }
  
  .image-preview {
    width: 300px; /* Width of the previews */
    height: 20px; /* Height of the slice */
    overflow: hidden; /* Hide the parts of the image that are outside the container */
    transition: all 0.3s ease; /* Transition for size change */
  }
  
  .image-preview img {
    width: 100%; /* Stretch image to fill the container */
    height: auto; /* Maintain the original aspect ratio */
    transition: all 0.3s ease; /* Transition for size change */
    padding: 10px 0;
    /* use a color cover */
    background: linear-gradient(rgba(166, 71, 255, 0.5), rgba(0,0,0,0.5));
  }
  
  .image-preview:hover {
    top: 0;
    left: 0;
    z-index: 3; /* Raise the container above the other one */
    width: 100%; /* Enlarge the container on hover */
    height: 200px; /* Enlarge the container on hover */
    overflow: visible;

  }
  
  .image-preview:hover img {
    transform: scale(1); /* Zoom the image on hover */


  }
  